<body>
	<h3>Add new post</h3>
	<br>
	<form action="/new" method="POST">
		<div>
			<label class="form-label">Type authorname:</label>
			<input type="text" name="post[author]">
		</div>	
		<br>
		<div>
			<label class="form-label">Type post:</label>
			<br>
			<textarea name="post[content]" class="form-control" rows="6"></textarea>
			<br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>	
	</form>
</body>