<h3>Post page</h3>
<div>	
	<p><%= @post.content %></p>
	<span style="font-size: 85%; color: #990;">Author: <%= @post.author %></span><br>
	<span style="font-size: 75%; color: #999;">Added at: <%= @post.created_at %></span><br><br>
</div>